@import '../partials/variables';


/* Nav */
.navbar-brand {
  font-size: 36px;
  letter-spacing: 11px;
  font-weight: $font-bold;


  span {
    font-size: 16px;
    letter-spacing: 5px;
  }
}

.navbar-collapse {
  opacity: 0.502;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: $font-semibold;
  margin-left: 675px;

}

/* SPLASH*/
.splash {
  background-image: url('../../images/background.png');

  .title::after {
    width: 277px;
    bottom: -150px;
  }
}

.background-wrapper {
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  background-size: cover;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.background-wrapper img {
  opacity: 0.690;
}

.inner {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.main-title {
  font-size: 100px;
  letter-spacing: 20px;
  width: 1250px;

  span:first-of-type {
    margin-left: -700px;
  }

  span:last-of-type {
    margin-left: 170px;
  }
}

.discover {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $color-light;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);

  p {
    font-size: 34px;
    letter-spacing: 7px;
  }

  i {
    font-size: 40px;
  }

}

/* Products*/
.title {

  text-align: center;

}

.title::after {
  position: absolute;
  content: '';
  width: 777px;
  height: 6px;
  background-color: #c0af91;
  left: 50%;
  bottom: -45px;
  transform: translateX(-50%);

}

.product {
  .row[data='2'] {
    flex-direction: row-reverse;
  }

  .row[data='3'] {
    margin-bottom: 96px;
  }
}

.product-info {
  position: relative;
}


.product-title {
  position: relative;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 100px;
  text-transform: uppercase;
  color: $color-dark;
  font-weight: $font-bold;
}

.product-title::after {
  position: absolute;
  content: '';
  width: 110px;
  height: 5px;
  background-color: $color-main;
  left: 10%;
  bottom: -36px;
  transform: translateX(-50%);

}

.product-description {
  top: 185px;
  margin: 0%;
  position: absolute;
  left: 144px;
  width: 356px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  color: $color-add;
  font-weight: $font-regular;
}

.list {
  list-style: none;
  position: absolute;
  top: 281px;
  left: -24px;

}

.params {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: $font-bold;

  span {
    color: $color-main;
  }
}


/*About */
.about {
  background-image: url('../../images/about-us.jpg');

  .title {
    padding-top: 99px;
  }

  .inner {
    color: $color-light;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: $font-semibold;
    font-style: $font-italic;

    p:first-of-type {
      width: 749px;
    }

    p:nth-of-type(2n) {
      width: 790px;

    }

    p:last-of-type {
      text-align: right;
    }

  }
}

/* Footer*/
.footer {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  color: $color-add;
  font-weight: $font-semibold;
}

.footer-inner {
  text-align: center;
  margin: 36px 0px;

}


/* Media */
@media (max-width: 1310px) {
  .navbar-collapse {
    position: sticky;
    right: 0;
  }

  .main-title {
    font-size: 80px;

  }
}

@media (max-width: 1200px) {
  .main-title {
    font-size: 60px;
  }
}

@media (max-width: 1130px) {
  .main-title {
    span:first-of-type {
      margin-left: 0;
    }

    span:last-of-type {
      margin-left: 0;
    }
  }


  .product-title {
    font-size: 30px;
  }

  .product-title::after {
    left: 55px;

  }

  .product-description {
    left: 10px;
    top: 215px;
  }

  .list {
    top: 300px;
    left: -30px;
  }

  .title {
    font-size: 55px;
  }

 

}

@media (max-width: 992px) {


  .row {
    flex-direction: column;
  }

  .list {
    position: static;
  }

  .product-description {
    position: static;
  }

  .product-title {
    line-height: 0px;
  }

  .product {
    margin-top: 20px;
  }
  .about{
    .inner{
      font-size: 24px;
      p:nth-of-type(2n) {
        width: auto;
      }
      p:first-of-type {
        width: auto;
      }
      
    }
  }

}

@media (max-height: 800px) {


  .title {
    padding-top: 0px;
  }

  .inner {
    margin-top: 30px;
  }
}

@media (max-width: 750px) {
  .main-title {
    font-size: 40px;
    width: auto;

  }
  .about, .title-wrapper{
    .title {
      font-size: 30px;
      line-height: 0;
    }
  }
 
  .title::after{
    width: 200px;
  }
}

@media (max-width: 750px) {
  .row{
    img{
      width: 400px;
    }
  }
  .discover{
    p{
      font-size: 20px;
    }
    i{
      font-size: 20px;
    }
    
  }
}


@media (max-width: 550px) {
  .row{
    img{
      width: 300px;
    }
  }
  .product-description {
    width: auto;
  }
}

@media (max-width: 350px) {
  .main-title{
    font-size: 20px;
  }
  .title {
  letter-spacing: 0px;
  }
  .product-title{
    letter-spacing: 0px;
    font-size: 24px;
  }
  .row{
    img{
      width: 150px;
    }
  }
  .about {
    .inner {
      font-size: 20px;
    }
  }
  .list{
    .params{
    font-size: 16px;
    }
  }
  .splash .title::after{
    width: 80px;
  }
}