/*About */

.about {
  background-image: url('../../images/about-us.jpg');

  .title {
    padding-top: 99px;
  }

  .main-carousel {
    color: $color-light;
    letter-spacing: 1px;
    font-style: $font-italic;

    img {
      width: 350px;
    }

    .carousel-cell {
      display: flex;
      margin-top: 100px;
      width: auto;
    }

    .worker-info {
      margin-left: 100px;
      margin-top: 50px;
    }

    .worker-name {
      font-size: 46px;
      margin: 0;

      span {
        font-weight: $font-bold;
      }
    }

    .worker-description {
      font-size: 36px;
      padding-right: 40px;
    }
  }
}