/*About */

.about {
  background-image: url('../../images/about-us.jpg');

  .title {
    padding-top: 99px;
  }

  .inner {
    color: $color-light;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: $font-semibold;
    font-style: $font-italic;

    p:first-of-type {
      width: 749px;
    }

    p:nth-of-type(2n) {
      width: 790px;
    }

    p:last-of-type {
      text-align: right;
    }
  }
}