*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-text;
  font-weight: $font-regular;
}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}
#navbarSupportedContent {


  &.active {
    display: block;
  }
}