/* Variables */
$color-light: #FFF;
$color-dark: #000;
$color-main: #BEA67C;
$color-add: #464646;


$font-text: 'Source Sans Pro', sans-serif;

$font-bold: 700;
$font-semibold: 600;
$font-italic: italic;
$font-regular: 400;
$font-black: 900;


